@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
  --color-used: linear-gradient(
    90deg,
    rgba(249, 211, 180, 1) 0%,
    rgba(249, 211, 180, 0) 100%
  );
}

body {
  font-family: var(--font-roboto);
  background-color: #212426;
}

.app {
  padding-bottom: 2rem;
  display: flex;
  margin-top: 10px;
  height: 100%;
  width: 100%;
}

.mainContainer nav {
  position: relative;
  height: 50px;
  margin-bottom: 60px;
  background: rgba(249, 211, 180, 0);
  border-radius: 8px;
  font-size: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

nav a {
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
  transition: 0.5s;
  border-bottom: rgba(249, 211, 180, 0) 5px solid;
}

/* If u look careffuly you can understood the work right! */
nav a:nth-child(1) {
  width: 250px;
  border-bottom-left-radius: 8px;
}

nav a:nth-child(2) {
  width: 250px;
}

nav a:nth-child(3) {
  width: 250px;
}

nav a:nth-child(4) {
  width: 250px;
  border-bottom-right-radius: 8px;
}

nav a:hover {
  border-color: rgba(249, 211, 180);
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgba(249, 211, 180, 1) 0%,
    rgba(249, 211, 180, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.sideBar {
  text-align: center;
  position: relative;
  width: 20%;
  font-size: 15px;
  margin-left: 5px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 50px;
  background: rgba(249, 211, 180, 0);
  border-radius: 8px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.SidebarList {
  width: 100%;
  height: auto;
  padding: 0;
}

.SidebarList .row {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0%;
  color: white;
  justify-content: center;
  align-items: center;
  border-bottom: rgba(249, 211, 180, 0) 5px solid;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: 0.5s;
}

.SidebarList .row-open {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0%;
  color: white;
  justify-content: center;
  align-items: center;
  border-bottom: rgba(249, 211, 180, 0) 5px solid;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: 0.5s;
}

.SidebarList .row .row-main {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0%;
  color: white;
  justify-content: center;
  align-items: center;
  border-bottom: rgba(249, 211, 180, 0) 5px solid;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: 0.5s;
}

.SidebarList .row-open .row-main {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0%;
  color: white;
  justify-content: center;
  align-items: center;
  border-bottom: rgba(249, 211, 180, 0) 5px solid;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: 0.5s;
}

.SidebarList .row:hover {
  border-color: rgba(249, 211, 180);
  cursor: pointer;
}
.SidebarList .row-open:hover {
  border-color: rgba(249, 211, 180);
  cursor: pointer;
}

.SidebarList #active {
  border-color: rgba(249, 211, 180);
}
.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row-open #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row .row-main #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.row .row-main #title {
  flex: 70%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.row-open #title {
  flex: 70%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.row .row-main #toggle {
  cursor: pointer;
  transition: transform 0.4s;
  align-items: center;
  display: flex;
}
.row-open #toggle {
  transform: rotate(180deg);
}
.row .row-content {
  padding-top: 0.25rem;
  height: 0;
  overflow: hidden;
  width: 0;
}

.row-open .row-content {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.SidebarList .row-open .row-content ul {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
}

.SidebarList .row-open .row-content li {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0%;
  color: white;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: 0.5s;
}

.SidebarList .row-open .row-content li:hover {
  background: rgba(249, 211, 180, 0.1);
  border-radius: 8px;
}

.subs {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 60px;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
}

.subs #label-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  justify-content: space-around;
  align-items: center;
}

input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
  height: 20px;
}

.mainContainer {
  display: flex;
  justify-content: start;
  width: 80%;
  align-items: center;
  flex-direction: column;
}

.mainContainer .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainContainer h1 {
  align-self: center;
  margin-bottom: 50px;
}

.mainContainer p {
  color: white;
  font-size: 22px;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  padding-left: 40px;
  line-height: 50px;
  padding-right: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.search {
  width: 71%;
  margin: 4rem 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: #1f2123;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;

  outline: none;
  color: #a1a1a1;
  background: #1f2123;
}

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

/* .search button {
  padding: 20px 40px;
  border-radius: 0.5rem;
  margin-left: 15px;
  color: #a1a1a1;
  font-family: var(--font-raleway);
  font-weight: 900;
  letter-spacing: 0.75px;
  font-size: 1.25rem;
  cursor: pointer;
  background: #1f2123;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
} */

.empty {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 1.25rem;
  color: #f9d3b4;
  font-family: var(--font-raleway);
}

.container {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movie {
  width: 310px;
  height: 460px;
  margin: 1.5rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.movie div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: #f9d3b4;
}

.movie:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.movie div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.movie div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
}

.movie div:nth-of-type(3) {
  z-index: 2;
  background-color: #343739;
  padding: 16px 24px 24px 24px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie div:nth-of-type(3) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.movie div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: #f9d3b4;
}

.movie:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.3;
}

.movie:hover div:nth-of-type(3) {
  background-color: transparent;
}

.movie:hover div:nth-of-type(1) {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }

  .movie {
    width: "100%";
    margin: 1rem;
  }
}
